.my-setting {
  margin-top: 0; }
  .my-setting ul {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    width: 100%;
    overflow: hidden; }
    .my-setting ul li {
      width: 50%;
      float: left;
      height: 45px;
      color: #ff6300;
      background: #eee;
      line-height: 45px;
      text-align: center;
      text-decoration: none;
      list-style: none; }
  .my-setting .info {
    padding: 10px 5%; }
  .my-setting .mb10 {
    margin-bottom: 10px; }
  .my-setting button {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    margin-top: 20px;
    background: #ff6300;
    color: #fff;
    border: none;
    border-radius: 4px; }
  .my-setting .sign-out {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    color: #fff;
    font-size: 24px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    background: #ff6300;
    box-shadow: 1px 1px 12px 3px #f76002; }
