.shoppingcart,
.makeorder-page {
  position: relative;
  margin: 0 auto;
  background: #ffff;
  padding: 10px 5%; }
  .shoppingcart .intro,
  .makeorder-page .intro {
    width: 100%; }
    .shoppingcart .intro .imgbox,
    .makeorder-page .intro .imgbox {
      position: absolute;
      width: 6rem;
      height: 6rem;
      left: 0.4rem; }
      .shoppingcart .intro .imgbox img,
      .makeorder-page .intro .imgbox img {
        width: 100%;
        height: 100%; }
    .shoppingcart .intro .introtext,
    .makeorder-page .intro .introtext {
      margin-left: 30%;
      height: 6rem; }
      .shoppingcart .intro .introtext .price,
      .makeorder-page .intro .introtext .price {
        color: #ff6300; }
    .shoppingcart .intro .num,
    .makeorder-page .intro .num {
      position: absolute;
      right: 2rem;
      bottom: 0.4rem;
      color: #888; }
      .shoppingcart .intro .num .choosenum span,
      .makeorder-page .intro .num .choosenum span {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        border: 1px solid #eee;
        text-align: center;
        line-height: 1.2rem; }
        .shoppingcart .intro .num .choosenum span:nth-of-type(1),
        .makeorder-page .intro .num .choosenum span:nth-of-type(1) {
          border-radius: 6px 0 0 6px; }
        .shoppingcart .intro .num .choosenum span:nth-of-type(2),
        .makeorder-page .intro .num .choosenum span:nth-of-type(2) {
          border-left: none;
          border-right: none;
          width: 2rem; }
        .shoppingcart .intro .num .choosenum span:nth-of-type(3),
        .makeorder-page .intro .num .choosenum span:nth-of-type(3) {
          border-radius: 0 6px 6px 0; }

.choosepop .surebox {
  background: #fff;
  width: 100%;
  height: 3.4rem;
  line-height: 3.4rem;
  position: fixed;
  bottom: 3.8rem; }
  .choosepop .surebox div {
    float: left; }
  .choosepop .surebox .checkall {
    margin-left: 1rem; }
  .choosepop .surebox .total {
    width: 6rem;
    float: right;
    text-align: center; }
    .choosepop .surebox .total span {
      color: #ff6300; }
  .choosepop .surebox .count {
    float: right;
    width: 7rem;
    background: #ff6300;
    color: #fff;
    text-align: center;
    font-weight: lighter; }

.makeorder-page {
  width: 100%;
  padding: 0.3rem 0; }
