.deliciousFoodListPage {
  padding: 0;
  margin: 0; }
  .deliciousFoodListPage .deliciousFoodul {
    background: #fff;
    padding: 0.2rem;
    margin-bottom: 0.2rem; }
    .deliciousFoodListPage .deliciousFoodul .food-img {
      float: left;
      width: 4rem;
      height: 4rem; }
      .deliciousFoodListPage .deliciousFoodul .food-img img {
        width: 100%;
        height: auto; }
    .deliciousFoodListPage .deliciousFoodul .food-intro {
      font-size: 12px;
      margin-left: 4.5rem; }
      .deliciousFoodListPage .deliciousFoodul .food-intro * {
        font-size: small; }
      .deliciousFoodListPage .deliciousFoodul .food-intro .store-name {
        font-weight: bolder; }
      .deliciousFoodListPage .deliciousFoodul .food-intro .star {
        margin-right: 2rem;
        color: red; }
      .deliciousFoodListPage .deliciousFoodul .food-intro .intro-text span {
        font-size: small;
        color: #ea4e15;
        margin-right: 1rem; }
