.deliciousFoodListPage{
    padding: 0;
    margin: 0;
    .deliciousFoodul{
        background: #fff;
        padding:0.2rem;
        margin-bottom: 0.2rem;
        .food-img{
            float: left;
            width: 4rem;
            height: 4rem;
            img{
                width: 100%;
                height: auto;
            }
        }
        .food-intro{
            font-size: 12px;
            margin-left: 4.5rem;
            *{
                font-size: small;
            }
            .store-name{
                font-weight: bolder;
            }
            .star{
                margin-right: 2rem;
                color:red;
            }
            .price{

            }
            .address{

            }
            .intro-text{

                span{
                    font-size: small;
                    color:#ea4e15;
                    margin-right: 1rem;
                    // display: inline-block;
                }
            }
            .navigation{

            }
            .group-buy-price{

            }
        }
    }
}                 