.App {
  margin-bottom: 5rem;
  .navTab {
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #ddd;
    padding: 0.3rem 0;
    background: #fff;
    li {
      width: 25%;
      float: left;
      text-align: center;
      list-style: none;
      div {
        width: 1.8rem;
        height: 1.8rem;
        margin-left: 2rem;
        margin-bottom: 0.2rem;
        background: url("../../images/indexTab.png") no-repeat;
        background-size: cover;
        border: none;
      }

      &:nth-of-type(2) {
        div {
          background: url("../../images/discountTab.png") no-repeat;
          background-size: cover;
        }
      }
      &:nth-of-type(3) {
        div {
          background: url("../../images/hikingTab.png") no-repeat;
          background-size: cover;
        }
      }
      &:nth-of-type(4) {
        div {
          background: url("../../images/myTab.png") no-repeat;
          background-size: cover;
        }
      }
      a {
        color: #666;
        text-decoration: none;
        font-size: 0.9rem;
      }
    }
  }
  .indexPage {
    .nav-icon-ul {
      padding: 0;
      margin: 0;
      overflow: hidden;
      // height: auto;
      li {
        width: 20%;
        float: left;
        text-align: center;
        list-style: none;
        background: #fff;
        padding: 0.3rem 0 0.6rem 0;
        div {
          width: 1.8rem;
          height: 1.8rem;
          margin-left: 1.5rem;
          margin-bottom: 0.2rem;
          background: url("../../images/nav1.png") no-repeat;
          background-size: cover;
          border: none;
        }
        &:nth-of-type(2) {
          div {
            background: url("../../images/nav2.png") no-repeat;
            background-size: cover;
          }
        }
        &:nth-of-type(3) {
          div {
            background: url("../../images/nav3.png") no-repeat;
            background-size: cover;
          }
        }
        &:nth-of-type(4) {
          div {
            background: url("../../images/nav4.png") no-repeat;
            background-size: cover;
          }
        }
        &:nth-of-type(5) {
          div {
            background: url("../../images/nav5.png") no-repeat;
            background-size: cover;
          }
        }
        &:nth-of-type(6) {
          div {
            background: url("../../images/nav6.png") no-repeat;
            background-size: cover;
          }
        }
        &:nth-of-type(7) {
          div {
            background: url("../../images/nav7.png") no-repeat;
            background-size: cover;
          }
        }
        &:nth-of-type(8) {
          div {
            background: url("../../images/nav8.png") no-repeat;
            background-size: cover;
          }
        }
        &:nth-of-type(9) {
          div {
            background: url("../../images/nav3.png") no-repeat;
            background-size: cover;
          }
        }
        &:nth-of-type(10) {
          div {
            background: url("../../images/nav7.png") no-repeat;
            background-size: cover;
          }
        }
        a {
          color: #666;
          text-decoration: none;
          font-size: 0.8rem;
        }
      }
    }
    .topGoodsList {
      padding: 0;
      margin: 0;
      margin-top: 0.3rem;
      overflow: hidden;
      li {
        list-style: none;
        float: left;
        width: 49.75%;
        height: 6.2rem;
        img {
          width: 100%;
          height: 100%;
        }
        &:nth-of-type(2n + 1) {
          border-bottom: 0.1rem solid #eee;
          border-right: 0.1rem solid #eee;
        }
        &:nth-of-type(2n) {
          border-bottom: 0.1rem solid #eee;
        }
        &:nth-last-of-type(2) {
          border-bottom: none;
        }
        &:nth-last-of-type(1) {
          border-bottom: none;
        }
      }
    }
    .eachModule {
      .fashionItem {
        margin-top: 1.4rem;
        position: relative;
        display: grid;
        grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
        .fashionTip {
          position: absolute;
          background: rgb(245, 100, 131);
          padding: 0.4rem 1rem;
          color: #fff;
          border-radius: 0 20px 20px 0;
          top: -0.8rem;
        }
        .salegoodTip {
          position: absolute;
          background: #ff6300;
          padding: 0.4rem 1rem;
          color: #fff;
          border-radius: 0 20px 20px 0;
          top: -0.8rem;
        }
        .allgoodTip {
          position: absolute;
          background: #df70c7;
          padding: 0.4rem 1rem;
          color: #fff;
          border-radius: 0 20px 20px 0;
          top: -0.8rem;
        }
        li {
          list-style: none;
          height: 7.2rem;
          img {
            width: 100%;
            height: 100%;
          }
          &:nth-of-type(1) {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
            border-right: 0.03rem solid #eee;
          }
          &:nth-of-type(2) {
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 2;
          }
          &:nth-of-type(3) {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            border-bottom: 0.1rem solid #eee;
            border-right: 0.1rem solid #eee;
          }
          &:nth-of-type(4) {
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 2;
            grid-row-end: 3;
          }
          &:nth-of-type(5) {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
            border-right: 0.1rem solid #eee;
          }
          &:nth-of-type(6) {
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 3;
            grid-row-end: 4;
          }
        }
      }
    }
  }
}
